DATABASE_URL="postgresql://postgres:postgres@localhost:5431/nestjstest?schema=public"


JWT_SECRET=my-very-secret-sensitive-key
JWT_EXPIRE_IN=1h

REFRESH_JWT_SECRET=my-very-secret-sensitive-refresh-key
REFRESH_JWT_EXPIRE_IN=1d

GOOGLE_CLIENT_ID=***********************************
GOOGLE_CLIENT_SECRET=******************************
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# put false in prod to prevent swagger to be accessed.
ENABLE_SWAGGER=true